.mdl-data-table td {
    text-align: center;
}

.mdl-data-table th {
    text-align: center;
}

.title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.centertext {
    text-align: center;
    padding: 10px;
}

.usertext {
    text-align: right;
    padding: 10px;
}

.fullwidth {
    width: 100%;
}

.mdl-card__supporting-text {
  background-color: aliceblue;
  width: 100%;
}
